<% layout('layouts/boilerplate') -%>
<body>

  <div class="row col-8 offset-2 mt-3">
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
        <h2>edit the listing</h2>
        <div class="mb-3 ">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="listing[title]" value="<%=listing.title%>" id="title"required>
          <div class="valid-feedback">Title Looks good!</div>
        </div>
        
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" class="form-control"required><%=listing.description%></textarea>
            <div class="invalid-feedback">Description should be valid</div>
          </div>

          <div class="mb-3">
            Original Listing Image <br>
              <img src="<%=originalImagelUrl%>">
          </div>

          <div class="mb-3">
            <label for="image" class="form-label">Update New image</label>
            <input type="file" class="form-control" name="listing[image]" id="image">
          </div>

          <div class="row">

          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="listing[price]" value="<%=listing.price%>"  id="price" required>
            <div class="invalid-feedback">Price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="listing[country]" value="<%=listing.country%>" id="country" required>
            <div class="invalid-feedback">Country should be valid</div>
          </div>

        </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="listing[location]"  value="<%=listing.location%>" id="location" required>
            <div class="invalid-feedback">Location should be valid</div>
          </div>
        
        <button class="btn btn-dark add-btn mb-3">Edit</button>
      </form>
    </div>
    
</body>
</html>